﻿@model AspNet_4_MusicStore.Models.Album

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>

<h3>Are you sure you want to delete the album titled <strong>@Model.Title</strong>?</h3>
<div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
    </div>
    }
</div>
