﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @*3rd party css*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#startupNavbar" aria-controls="startupNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="~/Content/Images/logo.png" alt="startup.logo"><span class="navbar-text">MVC MUSIC STORE</span></a>
        <div class="collapse navbar-collapse" id="startupNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Store/">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cart (0)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search by album or genre" aria-label="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container-fluid">
        <section>
            <div class="row">
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-lg-10">
                            <nav class="navbar navbar-expand-md navbar-light">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleSidebar">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="collapsibleSidebar">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Rock</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Jazz</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Metal</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Alternative</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Disco</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Blues</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Latin</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Reggae</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Pop</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Classical</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    @RenderBody()
                </div>
            </div>
        </section>
        <section>
            <hr>
            <p class="lead text-center">Wanna contact me? Email me at <a href="#">mvc_music_store@hotmail.com</a>.</p>
            <hr>
        </section>
    </div>

    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.bundle.min.js"></script>
</body>
</html>