﻿body {
    
    padding-bottom: 20px;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
    background-image: url('Images/banjo.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.jumbotron p:last-child {
        margin-bottom: 0;
    }

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
    background: rgba(255,255,255,0.2);
    padding: 2rem;
    color: white;
}

.jumbotron p {
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.genre {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card > img {
        margin-bottom: .75rem;
        max-width: 100%;
}

.card-text {
    font-size: 85%;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

    footer p {
        margin-bottom: .25rem;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

