﻿@model IEnumerable<AspNet_4_MusicStore.Models.Genre>

@{
    ViewBag.Title = "Store";
}

<h3>Browse Genres</h3>
<p>
    Select from @Model.Count() genres:
</p>
@*<div class="genre text-muted">
    <div class="container">

        <div class="row">
            <div class="card">
                <img src="~/Content/Images/mic.jpg" alt="Disco">
                <p class="card-text">Disco</p>
            </div>
            <div class="card">
                <img src="~/Content/Images/guitar.jpg" alt="Jazz">
                <p class="card-text">Jazz.</p>
            </div>
            <div class="card">
                <img src="~/Content/Images/lady-guitar.jpg" alt="Rock">
                <p class="card-text">Rock.</p>
            </div>
        </div>

    </div>
</div>*@
<ul>
    @foreach (var genre in Model)
    {
        //1.Link text, which will display the Genre name
        //2.Controller action name(Browse)
        //3.Route parameter values, specifying both the name(Genre) and the value(Genre name)
        <li>@Html.ActionLink(genre.Name, "Browse", new {genre = @genre.Name }) </li>//linking to another action within the same Controller
    }
</ul>

