﻿
@{
    ViewBag.Title = "Index";
}

@*<section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">WELCOME TO MVC MUSIC STORE</h1>
            <p class="lead">This is a sample music store built on ASP.NET platform.</p>
            <div>
                <a href="#" class="btn btn-lg btn-success">Sign up</a>
                <a href="#" class="btn btn-lg btn-info">Log in</a>
            </div>
        </div>
    </section>*@

<img class="img-fluid" src="./Content/Images/home-showcase.png" alt="logo">
<h5><em>Fresh</em> off the grill</h5>

<ul class="list-inline">
    <li class="list-inline-item">
        <div class="card">
            <div class="card-body text-center">
                <a href="#"><img src="./Content/Images/placeholder.gif" alt="logo"></a>
                <p class="card-text">Nevermind</p>
            </div>
        </div>
    </li>
    <li class="list-inline-item">
        <div class="card">
            <div class="card-body text-center">
                <a href="#"><img src="./Content/Images/placeholder.gif" alt="logo"></a>
                <p class="card-text">The Worst Of Man At Work</p>
            </div>
        </div>
    </li>
    <li class="list-inline-item">
        <div class="card">
            <div class="card-body text-center">
                <a href="#"><img class="img-fluid" src="./Content/Images/placeholder.gif" alt="logo"></a>
                <p class="card-text">Misplaced Childhood</p>
            </div>
        </div>
    </li>
    <li class="list-inline-item">
        <div class="card">
            <div class="card-body text-center">
                <a href="#"><img class="img-fluid" src="./Content/Images/placeholder.gif" alt="logo"></a>
                <p class="card-text">Greatest Hits</p>
            </div>
        </div>
    </li>
    <li class="list-inline-item">
        <div class="card">
            <div class="card-body text-center">
                <a href="#"><img class="img-fluid" src="./Content/Images/placeholder.gif" alt="logo"></a>
                <p class="card-text">Let There Be Rock</p>
            </div>
        </div>
    </li>
</ul>
